/target
/pkg/
/src/
*.pkg.tar.*
*.tar.zst
**/*.rs.bk
.qfind-catalog
node_modules/
dist/
**/bin/
**/obj/
packaging/vicinae/search.js
packaging/kde/build/
__pycache__/
*.pyc
.impeccable/
vendor/crossterm/*
!vendor/crossterm/Cargo.toml
!vendor/crossterm/LICENSE
!vendor/crossterm/src/
!vendor/crossterm/src/**
