pkgbase = qfind
	pkgdesc = Instant filename search
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/DerpcatMusic/qfind
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gtk4
	depends = gcc-libs
	depends = glibc
	optdepends = nautilus: Ctrl+F and Search with Qfind
	optdepends = python-gobject: Nautilus plugin
	optdepends = ripdrag: drag from the TUI
	conflicts = qfind-bin
	options = !lto
	source = qfind-0.1.1.tar.gz::https://github.com/DerpcatMusic/qfind/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 20d69420b211b11302eccb31ec7f0b2ae85cabf0771b3631a47414434ca2010d

pkgname = qfind
