pkgbase = qfind-bin
	pkgdesc = Instant filename search (prebuilt x86_64)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/DerpcatMusic/qfind
	arch = x86_64
	license = MIT
	depends = gtk4
	depends = gcc-libs
	depends = glibc
	optdepends = qt6-widgets: qfind-qt
	optdepends = nautilus: Ctrl+F and Search with Qfind
	optdepends = python-gobject: Nautilus plugin
	optdepends = ripdrag: drag from the TUI
	provides = qfind
	conflicts = qfind
	options = !strip
	source = qfind-0.1.1-x86_64.tar.zst::https://github.com/DerpcatMusic/qfind/releases/download/v0.1.1/qfind-0.1.1-x86_64.tar.zst
	sha256sums = 043944f29565760168eebc2814c10840478e0a987f0f12607511473ad2f211f5

pkgname = qfind-bin
