[Desktop Entry]
Type=Application
Name=Megaman
Comment=Files, storage, and projects
Exec=qfind-gtk
Icon=megaman
Terminal=false
Categories=Utility;Filesystem;
Keywords=megaman;qfind;search;files;projects;storage;
StartupWMClass=org.qfind.Qfind
